# Introductrion to Data Science and AI

## Lesson 1: Basic Python, Numpy and Pandas

Objecbtives:
1. Learn basic Python syntax and data manipulation using Numpy and Pandas.
2. Perform basic analysis and create simple visualisations.

`array` and for loops

In [9]:
## Create an array
numbers = [1, 2, 3, 4, 5]

## Use a for loop to traverse and array and square its elements
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

**ditionary**

In [ ]:
# Create a dictionary
student_grades = {
    "Alice": 85,
    "Bob": 78,
    "Charlie": 92,
    "Diana": 88
}

# Loop through the dictionary
for student, grade in student_grades.items():
    print(f"{student} scored {grade} marks.")

**Import Numpy and Pandas**

In [34]:
# Load dataset
iris_data = pd.read_csv('iris.csv')

# Display first few rows
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa